.sidebar {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ccc;
  height: calc(100vh - 80px); /* Full height minus the header */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li.active {
  background-color: #1a237e; /* Selected state */
  color: white;
}

.sidebar li.active:hover {
  background-color: #303f9f; /* Slightly lighter hover color */
  color: white;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
}

.sidebar-bottom button {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
